* {
  margin: 0;
  padding: 0;
}
#tap {
  width: 1920px;
}
#tap .header {
  display: flex;
}
#tap .header .header-right {
  width: 800px;
  height: 1060px;
}
#tap .header .header-right p {
  margin: 18px 0 336px  400px ;
}
#tap .header .header-right .money {
  width: 800px;
  height: 440px;
}
#tap .header .header-right .money .left {
  float: left;
  width: 300px;
  margin-top: 100px ;
}
#tap .header .header-right .money .top {
  float: left;
}
#tap .header .header-left {
  flex: 1;
  background-image: url(../images/beijing.png);
}
#tap .header .header-left .nav {
  float: left;
  margin-left: 380px;
  text-align: center;
}
#tap .header .header-left .nav li {
  float: left;
  width: 130px;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
}
#tap .header .header-left .nav .btnn ::before {
  display: block;
  content: "";
  width: 50px;
  margin-left: 40px;
  background-color: #fff;
  border-bottom: 4px solid #fff;
}
#tap .tex {
  width: 100%;
}
#tap .tex .tex_center {
  margin-left: 400px ;
}
#tap .tex .tex_center p {
  color: #a8abad;
}
#tap .period {
  width: 100%;
  margin-top: 100px;
  height: 300px;
}
#tap .period .period_u {
  margin-left: 200px;
  width: 1200px;
}
#tap .period .period_u li {
  float: left;
  width: 300px;
  height: 300px;
  text-align: center;
  box-sizing: border-box;
}
#tap .period .period_u .active {
  border: 4px solid #f7fcfd;
}
#tap .flow {
  width: 100%;
  margin-top: 160px;
}
#tap .flow .flow_top {
  height: 150px;
  text-align: center;
}
#tap .flow .flow_top .lc {
  width: 580px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
#tap .flow .flow_top .lc div {
  font-size: 16px;
  color: #4d4d4d;
}
#tap .flow .flow_top .lc .acr {
  border-bottom: 2px solid #36a6eb;
}
#tap .flow .flow_bottom {
  width: 1000px;
  height: 450px;
  margin-left: 400px;
}
#tap .flow .flow_bottom .flow_bottom_top ul li {
  float: left;
  width: 250px;
  text-align: center;
}
#tap .flow .flow_bottom .flow_bottom_top ul li span {
  display: block;
  margin-top: 20px;
  color: #4e4e4e;
}
#tap .flow .flow_bottom .flow_bottom_btn {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
}
#tap .flow .flow_bottom .flow_bottom_btn .flow_bottom_btnn {
  margin-top: 100px;
  position: relative;
}
#tap .flow .flow_bottom .flow_bottom_btn .flow_bottom_btnn .lcright {
  display: block;
  position: absolute;
  float: left;
  width: 80px;
  height: 80px;
  left: 650px;
  top: 150px;
  background-image: url(../images/lc_1.png);
  background-size: 100%;
}
#tap .flow .flow_bottom .flow_bottom_btn .flow_bottom_btnn .lcleft {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  right: 650px;
  top: 150px;
  text-align: center;
  background-image: url(../images/lc_1.png);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  background-size: 100%;
}
#tap .swiper-container {
  float: left;
  width: 1920px;
}
#tap .swiper-container .swiper-button-prev,
#tap .swiper-container .swiper-button-next {
  position: absolute;
  color: #e6e6e6;
  top: 50%;
  width: 70px;
  height: 100px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 100px 70px;
  background-position: center;
  background-repeat: no-repeat;
}
#tap .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#tap .footer {
  width: 100%;
  height: 208px;
}
#tap .footer span {
  float: left;
}
